<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <!--
    Policy definitions for antergos-desktop-dbus system actions.
    (C) 2017 Antergos
  -->

  <vendor>Antergos</vendor>
  <vendor_url>https://www.antergos.com</vendor_url>
  <icon_name>antergos-desktop</icon_name>

  <action id="com.antergos.welcome.update">
    <_description>Query local and remote application databases for updated applications for the system</_description>
    <_message>To query the application databases for updates, you need to authenticate.</_message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.antergos.welcome.install">
    <_description>Install or remove applications</_description>
    <_message>To install or remove applications, you need to authenticate.</_message>
    <icon_name>antergos-desktop</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
